@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

//
// parameters and variables
//

:root {
    --color-background: hsl(220, 15%, 16%);
    --color-primary: hsl(220, 30%, 30%);
    --color-primary-active: hsl(220, 30%, 50%);
    --color-secondary: hsl(220, 20%, 20%);
    --color-secondary-active: hsl(220, 20%, 40%);
    --color-text: hsl(0, 0%, 100%);
    --color-text-passive: hsl(0, 0%, 70%);
    // hsla(0, 0%, 0%, 0.2);

    --height-topnav: 40px;
    --width-scrollbar: 17px;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

//
// classes
//

@layer base {
    *:focus-visible {
        outline-offset: -1px;

        // kinda works unless the mouse hovers over the element before you tab to it;
        // without this you have a little bit of background outside the outline;
        // border-radius: 10px;
    }

    a {
        text-decoration: none;
    }

    button {
        line-height: normal;
    }

    a:hover, a:focus-visible, button:hover, button:focus-visible {
        background-color: hsla(0, 0%, 100%, 0.3)
    }

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
            monospace;
    }

    html {
        color-scheme: dark;
        scrollbar-color: hsl(0, 0%, 50%) transparent;
    }

    ul {
        list-style: "- ";
    }
}

@layer components {
    .icon-medium {
        font-size: calc(-8px + var(--height-topnav));
    }
}

@layer utilities {
    .scrollbar-stable {
        scrollbar-gutter: stable;
    }

    .scrollbar-stable-both {
        scrollbar-gutter: stable both-edges;
    }
}