@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    button {
        line-height: normal;
    }
}

@layer components {
    .icon-medium {
        font-size: calc(-8px + var(--height-topnav));
        // padding: 4px; // do it manually;

        // used in dropdown menu icons;
        //TODO export there;
        transition: all 0.3s ease-out;
    }

    // .shadow-md-center {
    //     // --tw-shadow: 0 2px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    //     --tw-shadow: 4px 3px 6px -2px rgb(0 0 0 / 0.1), -4px 3px 6px -2px rgb(0 0 0 / 0.1);
    //     --tw-shadow-colored: 4px 3px 6px -2px var(--tw-shadow-color), -4px 3px 6px -2px var(--tw-shadow-color);
    //     // box-shadow: var(--tw-shadow);
    //     box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    // }
}

@layer utilities {
    .text-color-passive {
        opacity: 0.5;
    }

    .scrollbar-stable {
        scrollbar-gutter: stable;
    }

    .scrollbar-stable-both {
        scrollbar-gutter: stable both-edges;
    }
}

//
//
//

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

//
// parameters and variables
//

:root {
    --color-background: hsl(220, 15%, 16%);
    --color-primary: hsl(220, 30%, 30%);
    --color-primary-active: hsl(220, 30%, 50%);
    --color-secondary: hsl(220, 20%, 20%);
    --color-secondary-active: hsl(220, 20%, 40%);
    --color-text: hsl(0, 0%, 100%);
    --color-text-passive: hsl(0, 0%, 70%);
    // hsla(0, 0%, 0%, 0.2);

    --height-topnav: 40px;
    --width-scrollbar: 17px;
}

// $height-topnav: 40px;

//
// TODO
//

* {
    box-sizing: border-box;
}

:focus-visible {
    outline-offset: -1px;

    // kinda works unless the mouse hovers over the element before you tab to it;
    // without this you have a little bit of background outside the outline;
    // border-radius: 10px;
}

//
// based on class;
//

.mobile-dropdown-content {
    background-color: var(--color-background);
    color: --color-text;
    display: block;

    // TODO
    // height: 0;
    height: 0;
    transition: all 0.3s ease-out;
    overflow-y: hidden;
    // margin-top: -100%;
    // position: relative;
    // z-index: 0;
    // transition

    &.active {
        background-color: var(--color-dark-highlight);
        // height: fit-content;
        // transition: all 0.3s ease-out;
    }

    &:not(.active) a {
        color: --color-text-passive;
    }
}

.mobile-dropdown-menu {
    &.active {
        background-color: var(--color-dark-highlight);
        color: --color-text;
    }

    &:not(.active) a {
        color: --color-text-passive
    }
}

.mobile-dropdown-menu > a {
    // otherwise, overriden by user agent;
    font-size: 1.5em;

    // padding-left: 20px;
    padding: 15px 20px 15px 20px;
}

.mobile-sidebar > a {
    padding-left: 15px;
}

.mobile-sidebar a {
    // border-top: 2px solid transparent;
    // border-bottom: 2px solid transparent;
    border: 2px solid transparent;
    display: block;

    margin-top: 0;
    // margin-right: -$width-scrollbar - 2px;
    margin-bottom: 0;
    // margin-left: -2px;

    // &:hover, &:focus-visible {
    //     background-color: $color-hover-dark
    // }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.width-full-both-edges {
    width: calc(100% + 2 * var(--width-scrollbar));
}

.width-full-edge {
    width: calc(100% + 1 * var(--width-scrollbar));
}

//
// based on type;
//

a {
    // for navigating with keyboard; does not help;
    // border: 2px solid transparent;
    // background-color: $color-same;
    // padding: 0;

    // margin: 2px;
    // box-sizing: border-box;
    // background-color: hsla(0, 0%, 0%, 0.2);
    color: --color-text;
    // color: --color-text-passive;
    // color: --color-text;
    display: block;
    text-decoration: none;

    //TODO
    &:hover, &:focus-visible {
        background-color: hsla(0, 0%, 100%, 0.3)
    }

    // &:visited, &:hover {
    //     color: --color-text;
    // }
}

a.inactive {
    color: --color-text-passive;
}

body {
    // prevent unintended scrolling;
    // height: 100vh;
    // height: 100%;

    // 100vw is problematic; it seems that the scroll bar can add to the total width
    // otherwise;
    width: 100%;

    background-color: var(--color-background);
    color: var(--color-text);

    // font-size: 1em;
    // 100% because of problems with internet explorer?;
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;

    // margin: 0;
    // padding: 0;

    // google fonts;
    // font-family: "Sofia", sans-serif;

    // copied from index.css;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // bug?; otherwise, makes it still scroll a pixel or so; no it is because top 
    // does not account for borders; it scrolls the border-width amount;
    // border-top: 0px; 
    // border-bottom: 0px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html {
    color-scheme: dark;
    scrollbar-color: hsl(0, 0%, 50%) transparent;
}

strong {
    // font-weight: 800
    font-family: math;
}

ul {
    list-style: "- ";
    // font-size: 1.6em;
}